body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.invalid-feedback {
  font-size: 100% !important;
}

.user_profile_pic {
    padding: 20px 0;
    padding-bottom: 15px;
}

.user_profile_pic h4 {
    padding-top: 10px;
}

.form-check-inline.noborder .input-label-simple {
    border-width: 0;
    margin-left: 8px;
    width: 100px;
}

.label-simple.heading {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 8px;
    text-transform: uppercase;
    border-width: 0;
}

.label-simple.heading:focus {
    outline: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-control.required {
    border-left: 3px solid #dc3545;
}

.g_field .label {
   font-weight: 600;
   font-size: 13px;
   text-transform: uppercase;
}

.g_field .text {
    font-size: 16px;
    color: #656565;
}

.table.fixed-layout-table {
    table-layout: fixed;
}

.table td, .table th {
    word-wrap: break-word;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    font-size: 1rem;
    height: calc(1.3em + 1rem + 2px)
}

.kanban-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    min-height: 550px;
    overflow-x: auto;
}

.kanban-container > .card.outer-card {
    border-top: 3px solid #e2e2e2;
    min-width: 18em;
    max-width: 18em;
    margin-right: 15px;
}

.kanban-container .card.outer-card:hover {
    border-top: 3px solid #007bff;
}

.kanban-container .card.inner-card {
    color: #616161;
}

.kanban-container .card.inner-card .card-title {
    display: flex;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}

.kanban-container .card.inner-card .card-title .text {
    flex: 1;
    color: #444;
    font-weight: 300;
    padding-bottom: 10px;
}

.kanban-container .card.inner-card:hover {
    box-shadow: 1px 6px 6px #e1e1e1;
    -moz-box-shadow: 1px 6px 6px #e1e1e1;
    -webkit-box-shadow: 1px 6px 6px #e1e1e1;
}

.card-text .price {
    font-size: 18px;
}

.kanban-container .card.inner-card {
    position: relative;
}

.kanban-container .card.inner-card > .card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #e1e1e1;
    border: 3px dashed #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: none;
}

.kanban-container .card.inner-card .card-content {
    background: green;
    margin-bottom: 15px;
}

.card-actions {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.card-actions .ca_item {
    flex: 1;
}

.ajax_indicator {
    position: fixed;
    display: none;
    top: 0;
    left: 50%;
    margin-left: -75px; /* negative half of width. */
    z-index: 10000;
    text-align: center;
    padding: 5px 15px 8px;
    width: 150px;
}

.ajax_indicator.processing {
    background-color: #FFFF00;
}

.ajax_indicator.done {
    background-color: green;
}

.icon-warning {
    color: red;
}

.reports-heading {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.dd-sm .dropdown-item {
    font-size: 14px;
}


