{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h4">{% if title %}{{title}}{% else %}No Title{% endif %}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('leads.get_leads_view') }}" role="button">
            <span data-feather="arrow-left"></span>
            Cancel
        </a>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <form class="form-new-lead" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }} <!-- security 'csrf' token -->

            <div class="form-group text-left">
                {{ form.csv_file.label() }}
                {{ form.csv_file(class="form-control-file") }}
                {% if form.csv_file.errors %}
                    {% for error in form.csv_file.errors %}
                        <span class="text-danger">{{ error }}</span><br/>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group text-left">
                {{ form.lead_source.label(class="form-control-label") }}
                {{ form.lead_source(class="form-control from-control-lg") }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-lg btn-outline-info") }}
            </div>

        </form>
    </div>
</div>
{% endblock %}