{% extends "layout.html" %}
    {% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h4">{% if title %}{{title}}{% else %}No Title{% endif %}</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="dropdown">
              <button class="btn btn-sm btn-outline-primary mr-2 dropdown-toggle bulk_assign disabled"
                      type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                  <span data-feather="settings"></span> Bulk Actions
              </button>
              <div class="dropdown-menu dd-sm" aria-labelledby="dropdownMenuButton">
                  {% if current_user.is_admin %}
                <a class="dropdown-item " href="#" data-toggle="modal" data-target="#leadOwnerAssignModal">Assign Owner</a>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#leadSourceAssignModal">Assign Source</a>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#leadStatusAssignModal">Assign Status</a>
                    <div class="dropdown-divider"></div>
                  <a class="dropdown-item" data-toggle="modal" data-target="#leadsDeleteModal" href="#">Delete</a>
                  <div class="dropdown-divider"></div>
                  {% endif %}
                <a class="dropdown-item" id="export_leads_to_csv" href="#">Export to CSV</a>
              </div>

            </div>
            {% if current_user.is_admin %}
            <a class="btn btn-sm btn-outline-secondary mr-2" role="button" href="{{ url_for('leads.import_bulk_leads') }}">
                <span data-feather="upload"></span>
                  import leads ...
            </a>
            {% endif %}
            <a class="btn btn btn-sm btn-outline-primary" role="button" href="{{ url_for('leads.new_lead') }}">
                <span data-feather="plus"></span>
                  New
            </a>
        </div>
    </div>
    {% include "leads/filters.html" %}
    {% if leads.items()|length > 0 %}
        <div class="table-responsive">
            <table class="table table-striped table-hover fixed-layout-table">
              <thead class="thead-light">
                <tr>
                  <th width="40" scope="col">
                      <input type="checkbox" id="select_all" value="all" />
                  </th>
                    <th width="150"></th>
                    <th width="300" scope="col">Title</th>
                  <th width="150" scope="col">First Name</th>
                  <th width="150" scope="col">Last Name</th>
                  <th width="300" scope="col">Email</th>
                    <th width="250" scope="col">Company Name</th>
                     <th width="150" scope="col">Phone</th>
                     <th width="150" scope="col">Mobile</th>
                    <th width="250" scope="col">Owner</th>
                    <th width="200" scope="col">Lead Source</th>
                     <th width="200" scope="col">Lead Status</th>
                    <th width="200" scope="col">Date Created</th>
                </tr>
              </thead>
              <tbody>
                {% for lead in leads.items() %}
                <tr>
                  <th scope="row">
                      <input class="cb" type="checkbox" value="{{ lead.id }}" />
                  </th>
                    <th>
                        <a href="{{ url_for('leads.update_lead', lead_id=lead.id) }}"
                           class="btn btn-outline-secondary btn-sm mr-1" role="button">
                            <span data-feather="edit"></span>
                        </a>
                        <a href="#" class="btn btn-outline-secondary btn-sm mr-1" role="button">
                            <span data-feather="trash"></span>
                        </a>
                        <a href="{{ url_for('leads.get_lead_view', lead_id=lead.id) }}"
                           class="btn btn-outline-secondary btn-sm mr-1" role="button">
                            <span data-feather="arrow-up-right"></span>
                        </a>
                    </th>
                    <td>{{ lead.title }}</td>
                  <td>{{ lead.first_name }}</td>
                  <td>{{ lead.last_name }}</td>
                    <td>{{ lead.email }}</td>
                    <td>{{ lead.company_name }}</td>
                    <td>{{ lead.phone }}</td>
                    <td>{{ lead.mobile }}</td>
                    <td>{% with owner=lead.owner %}{% include 'common/owner_cell.html' %}{% endwith %}</td>
                    <td>{{ lead.source.source_name }}</td>
                    <td>{{ lead.status.status_name }}</td>
                    <td>{{ lead.date_created.strftime('%Y-%m-%d') if lead.date_created }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>

        <!-- pagination -->
        {% if leads.total_records > 10 %}
            {% with view_id="leads.get_leads_view", items=leads %}
                {% include "common/pagination.html" %}
            {% endwith %}
        {% endif %}
    {% else %}
        <div class="container text-center pt-4">
            <div><span data-feather="eye-off"></span></div>
            <p>No leads found. Please create your first lead.</p>
        </div>
    {%  endif %}
<script>
    $(document).ready(function() {
        var items = [];

        $('#select_all').on('click', function() {
            if ($(this).is(':checked')) {
                $('.cb').prop('checked', true);
            } else {
                $('.cb').prop('checked', false);
            }
            toggle_convert_lead_btn();
        });

        $('.cb').on('click', function() {
            toggle_convert_lead_btn();
        });

        function toggle_convert_lead_btn() {
            items = [];
            $('.cb').each(function() {
                if ($(this).is(':checked')) {
                    items.push($(this).val());
                }
            });

            if (items.length > 0) {
                $('#convert_lead').removeClass('disabled');
                $('.bulk_assign').removeClass('disabled');
            } else {
                $('#convert_lead').addClass('disabled');
                $('.bulk_assign').addClass('disabled');
            }
        }

        $('.ba_modal').on('show.bs.modal', function (e) {
          // do something...
          $('.modal-notif-area').html(`
                <div class="alert alert-success" role="alert">
                  You have selected <strong>${items.length}</strong> leads for bulk assignment.
                </div>`);

          // store the values
          console.log(items);
          $('.leads_data').val(items);
        });

        $('#export_leads_to_csv').on('click', function(e) {
            e.preventDefault();
            window.location = "{{ url_for('leads.write_to_csv') }}?lead_ids=" + items
        });

    });
</script>

<!-- Lead Owner Assign Modal -->
{% include "leads/bulk_owner_assign_modal.html" %}

<!-- Lead Source Assign Modal -->
{% include "leads/bulk_lead_source_assign_modal.html" %}

<!-- Lead Status Assign Modal -->
{% include "leads/bulk_lead_status_assign_modal.html" %}

<!-- Lead Bulk Delete Modal -->
{% include "leads/bulk_lead_delete_modal.html" %}


{% endblock %}