{% extends "layout.html" %}
    {% block content %}
<form class="form-new-account" method="POST">
    {{ form.hidden_tag() }} <!-- security 'csrf' token -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h4">{% if title %}{{title}}{% else %}No Title{% endif %}</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
             {{ form.submit(class="btn btn-md btn-outline-info mr-2") }}
            <input type="reset" class="btn btn-md btn-outline-secondary mr-2" />
            <a href="{{ url_for('leads.get_leads_view') }}" class="btn btn-md btn-outline-secondary" role="button">
                <span data-feather="arrow-left"></span>
                  Back to List
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="alert alert-info" role="alert">
                <p>You are about to convert this lead to <strong>accounts, contacts, and deals</strong>. <br>Please make sure that this lead is qualified and suitable for conversion.</p>
                <hr>
                <p class="mb-0">
                    <em>Please note that this operation is not reversible.</em>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="form-row mb-3">
                <div class="col">
                    <div class="form-check">
                        {{ form.use_account_information(id="use_account", class="form-check-input") }}
                      {{ form.use_account_information.label(class="form-check-label") }}
                    </div>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col">
                    {{ form.account_name.label(class="form-control-label") }}
                  {% if form.account_name.errors %}
                    {{ form.account_name(id="account_name", class="form-control form-control-lg required is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.account_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.account_name(id="account_name", class="form-control required from-control-lg", placeholder="company name ...") }}
                  {% endif %}
                </div>
                <div class="col">
                    {{ form.account_email.label(class="form-control-label") }}
                  {% if form.account_email.errors %}
                    {{ form.account_email(id="account_email", class="form-control form-control-lg required is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.account_email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.account_email(id="account_email", class="form-control required from-control-lg", placeholder="email address ...") }}
                  {% endif %}
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col">
                    {{ form.accounts.label(class="form-control-label") }}
                         {% if form.accounts.errors %}
                             {{ form.accounts(id="deal_accounts", class="form-control form-control-lg required is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.accounts.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                         {% else %}
                            {{ form.accounts(id="deal_accounts", class="form-control from-control-lg required") }}
                         {% endif %}
                </div>
            </div>

            <hr>

            <div class="form-row mb-3">
                <div class="col">
                    <div class="form-check">
                        {{ form.use_contact_information(id="use_contact", class="form-check-input") }}
                      {{ form.use_contact_information.label(class="form-check-label") }}
                    </div>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col">
                    {{ form.contact_first_name.label(class="form-control-label") }}
                    {% if form.contact_first_name.errors %}
                        {{ form.contact_first_name(id="contact_first_name", class="form-control form-control-lg required is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.contact_first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.contact_first_name(id="contact_first_name", class="form-control required from-control-lg", placeholder="contact first name ...") }}
                    {% endif %}
                </div>
                <div class="col">
                    {{ form.contact_last_name.label(class="form-control-label") }}
                    {% if form.contact_last_name.errors %}
                        {{ form.contact_last_name(id="contact_last_name", class="form-control form-control-lg required is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.contact_first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.contact_last_name(id="contact_last_name", class="form-control required from-control-lg", placeholder="contact last name ...") }}
                    {% endif %}
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col">
                    {{ form.contact_email.label(class="form-control-label") }}
                    {% if form.contact_email.errors %}
                        {{ form.contact_email(id="contact_email", class="form-control form-control-lg required is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.contact_email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.contact_email(id="contact_email", class="form-control required from-control-lg", placeholder="contact email ...") }}
                    {% endif %}
                </div>
                <div class="col">
                    {{ form.contact_phone.label(class="form-control-label") }}
                    {% if form.contact_phone.errors %}
                        {{ form.contact_phone(id="contact_phone", class="form-control form-control-lg  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.contact_phone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.contact_phone(id="contact_phone", class="form-control required from-control-lg", placeholder="contact phone ...") }}
                    {% endif %}
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col">
                    {{ form.contacts.label(class="form-control-label") }}
                    {{ form.contacts(id="deal_contacts" ,class="form-control from-control-lg") }}
                </div>
            </div>

            <hr>

            <div class="form-row mb-3">
                <div class="col">
                    <div class="form-check">
                        {{ form.create_deal(id="create_deal", class="form-check-input") }}
                      {{ form.create_deal.label(class="form-check-label") }}
                    </div>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col">
                    {{ form.title.label(class="form-control-label") }}
                    {{ form.title(class="form-control from-control-lg required", placeholder="enter deal title ...") }}
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col">
                    {{ form.expected_close_price.label(class="form-control-label") }}
                      {% if form.expected_close_price.errors %}
                        {{ form.expected_close_price(class="form-control form-control-lg required is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.expected_close_price.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                      {% else %}
                        {{ form.expected_close_price(class="form-control required from-control-lg", placeholder="expected close price ...") }}
                      {% endif %}
                </div>
                <div class="col">
                    {{ form.expected_close_date.label(class="form-control-label datepicker") }}
                    {{ form.expected_close_date(class="form-control from-control-lg", placeholder="select date ...") }}
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col">
                    {{ form.deal_stages.label(class="form-control-label") }}
                    {% if form.deal_stages.errors %}
                        {{ form.deal_stages(class="form-control form-control-lg required is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.deal_stages.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                    {% else %}
                    {{ form.deal_stages(class="form-control from-control-lg required") }}
                    {% endif %}
                </div>
            </div>

            {% if current_user.role.name == 'admin' %}
            <div class="form-row mb-3">
                <div class="col-6">
                    {{ form.assignees.label(class="form-control-label") }}
                    {{ form.assignees(class="form-control from-control-lg") }}
                 </div>
            </div>
            {% endif %}

            <hr>

            <div class="form-row mb-3">
                <div class="col-6" style="margin-bottom: 50px;">
                    {{ form.submit(class="btn btn-md btn-outline-info mr-2") }}
                    <input type="reset" class="btn btn-md btn-outline-secondary mr-2" />
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {

        $('#account_name').attr('readonly', false);
        $('#account_email').attr('readonly', false);
         $('#deal_accounts').attr('readonly', true);

        $('#contact_first_name').attr('readonly', true);
        $('#contact_last_name').attr('readonly', true);
        $('#contact_email').attr('readonly', true);
        $('#contact_phone').attr('readonly', true);

        $('#use_account').on('click', function() {
            var checked = $(this).is(':checked');
            $('#account_name').attr('readonly', !checked);
            $('#account_email').attr('readonly', !checked);
            $('#deal_accounts').attr('readonly', checked);
        });

        $('#use_contact').on('click', function() {
            var checked = $(this).is(':checked');
            $('#contact_first_name').attr('readonly', !checked);
            $('#contact_last_name').attr('readonly', !checked);
            $('#contact_email').attr('readonly', !checked);
            $('#contact_phone').attr('readonly', !checked);
            $('#deal_contacts').attr('readonly', checked);
        });
    });
</script>
    {% endblock %}