{% extends "layout.html" %}
    {% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h4">{% if title %}{{title}}{% else %}No Title{% endif %}</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a class="btn btn btn-sm btn-outline-primary mr-2" role="button" href="{{ url_for('deals.get_deals_view') }}?view_t=kanban">
                <span data-feather="trello"></span>
            </a>
            {% if current_user.is_admin %}
            <a class="btn btn-sm btn-outline-secondary mr-2" role="button" href="{{ url_for('leads.import_bulk_leads') }}">
                <span data-feather="upload"></span>
                  import deals ...
            </a>
            {% endif %}
            <a class="btn btn btn-sm btn-outline-primary" role="button" href="{{ url_for('deals.new_deal') }}">
                <span data-feather="plus"></span>
                  New
            </a>
        </div>
    </div>
    {% include "deals/filters.html" %}
    {% if deals.items()|length > 0 %}
        <div class="table-responsive">
            <table class="table table-striped table-hover fixed-layout-table">
              <thead class="thead-light">
                <tr>
                  <th width="40" scope="col">
                      <input type="checkbox" id="select_all" value="all" />
                  </th>
                    <th width="250"></th>
                    <th width="350" scope="col">Title</th>
                  <th width="200" scope="col">Expected Close Price</th>
                  <th width="200" scope="col">Expected Close Date</th>
                  <th width="300" scope="col">Account</th>
                    <th width="250" scope="col">Contact</th>
                    <th width="200" scope="col">Deal Stage</th>
                    <th width="250" scope="col">Owner</th>
                    <th width="200" scope="col">Date Created</th>
                </tr>
              </thead>
              <tbody>
                {% for deal in deals.items() %}
                <tr>
                  <th scope="row">
                      <input class="cb" type="checkbox" value="{{ deal.id }}" />
                  </th>
                    <th>
                        <a href="{{ url_for('deals.update_deal', deal_id=deal.id) }}" class="btn btn-outline-secondary btn-sm mr-1" role="button">
                            <span data-feather="edit"></span>
                        </a>
                        <a href="#" class="btn btn-outline-secondary btn-sm mr-1" role="button">
                            <span data-feather="trash"></span>
                        </a>
                        <a href="{{ url_for('deals.get_deal_view', deal_id=deal.id) }}"
                           class="btn btn-outline-secondary btn-sm mr-1" role="button">
                            <span data-feather="arrow-up-right"></span>
                        </a>
                    </th>
                    <td>{{ deal.title }}</td>
                  <td>{{ config.def_currency.symbol }} {{ "{:,.2f}".format(deal.expected_close_price) }}</td>
                    <td>{% if deal.is_expired() %}<span class="icon-warning" data-feather="alert-circle"></span>{%endif%}
                        {{ deal.expected_close_date.strftime('%Y-%m-%d %I:%M %p').lower() if deal.expected_close_date }}</td>
                    <td>{{ deal.account.name }}</td>
                    <td>{{ deal.contact.first_name }} {{ deal.contact.last_name }}</td>
                     <td>{{ deal.dealstage.stage_name }}</td>
                    <td>{% with owner=deal.deal_owner %}{% include 'common/owner_cell.html' %}{% endwith %}</td>
                    <td>{{ deal.date_created.strftime('%Y-%m-%d') if deal.date_created }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>

        <!-- pagination -->
        {% if deals.total_records > 10 %}
            {% with view_id="deals.get_deals_view", items=deals %}
                {% include "common/pagination.html" %}
            {% endwith %}
        {% endif %}
    {% else %}
        <div class="container text-center pt-4">
            <div><span data-feather="eye-off"></span></div>
            <p>No deals found. Please create your first deal.</p>
        </div>
    {%  endif %}
<script>
    $(document).ready(function() {
        $('#select_all').on('click', function() {
            if ($(this).is(':checked')) {
                $('.cb').prop('checked', true);
            } else {
                $('.cb').prop('checked', false);
            }
        });
    });
</script>
{% endblock %}