{% extends "layout.html" %}
    {% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h4">{% if title %}{{title}}{% else %}No Title{% endif %}</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a class="btn btn btn-sm btn-outline-primary mr-2" role="button" href="{{ url_for('deals.get_deals_view') }}">
                <span data-feather="list"></span>
            </a>
            {% if current_user.is_admin %}
            <a class="btn btn-sm btn-outline-secondary mr-2" role="button" href="{{ url_for('leads.import_bulk_leads') }}">
                <span data-feather="upload"></span>
                  import deals ...
            </a>
            {% endif %}
            <a class="btn btn btn-sm btn-outline-primary" role="button" href="{{ url_for('deals.new_deal') }}">
                <span data-feather="plus"></span>
                  New
            </a>
        </div>
    </div>
    {% include "deals/kanban_filters.html" %}
    {% if deals|length > 0 %}
        <div class="container-fluid" style="background-color: #f1f1f1; padding: 20px;">
            <div class="kanban-container">
                {% for stage_item in deal_stages %}

                <div class="card outer-card">
                  <div id="cb_{{ stage_item.id }}" class="card-body"
                       data-dropstage="{{ stage_item.id }}" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <h5 class="card-title">{{ stage_item.stage_name }}</h5>
                      {% for deal in deals %}
                        {% if deal.dealstage.stage_name == stage_item.stage_name %}

                            <div id="item_{{ deal.id }}" data-dealid="{{ deal.id }}" class="card inner-card bg-light mb-3"
                                 draggable="true" ondragstart="dragStart(event)">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <div class="text">{{ deal.title|truncate(35, True)}}</div>
                                    </h5>
                                    <div class="card-text">
                                        <div class="price">{{ config.def_currency.symbol }} {{ "{:,.2f}".format(deal.expected_close_price) }}</div>
                                        <div>{{ deal.account.name }}</div>
                                        <div><span data-feather="user"></span> {{ deal.contact.first_name }} {{ deal.contact.last_name }}</div>
                                        <div><span data-feather="clock"></span> {% if deal.is_expired() %}<span class="icon-warning" data-feather="alert-circle"></span>{%endif%} {{ deal.expected_close_date.strftime('%Y-%m-%d') if deal.expected_close_date else '_' }}</div>
                                    </div>
                                    <div class="card-actions">
                                        <div class="ca_item">
                                            <a href="#" class="btn btn-sm btn-outline-secondary" role="button">
                                                <span data-feather="arrow-up-right"></span> view details
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                      {% endfor %}

                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container text-center pt-4">
            <div><span data-feather="eye-off"></span></div>
            <p>No deals found. Please create your first deal.</p>
        </div>
    {%  endif %}
<script>
    function allowDrop(ev) {
      ev.preventDefault();
      ev.stopPropagation();
    }

    function update_deal_stage(dealId, dealStageId) {

        $('.ajax_indicator')
            .css('display', 'block')
            .text('processing')
            .removeClass('done')
            .addClass('processing');

        $.ajax({
            type: "GET",
            url: "/deals/update_stage/" + dealId + "/" + dealStageId,
            contentType: 'application/json',
            dataType: 'json',
            success: function(data) {
                $('.ajax_indicator')
                    .html("<span data-feather='check'></span> " + data.message)
                    .removeClass('processing')
                    .addClass('done')
                    .fadeOut(2000);

            },
        });
    }

    function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("text");
      var node = document.getElementById(data);
      var first_node = ev.currentTarget.children[1];
      if (node.parentNode.id !== ev.currentTarget.id) {
        ev.currentTarget.insertBefore(node, first_node);
        update_deal_stage(node.dataset.dealid, ev.currentTarget.dataset.dropstage);
      }
      node.style.transform = 'rotate(0deg)';
    }

    function dragStart(ev) {
      ev.dataTransfer.effectAllowed = "move";
      ev.dataTransfer.setData("text/plain", ev.target.id);
      ev.currentTarget.style.transform = 'rotate(3deg)';
    }
</script>
    {% endblock %}