{% extends './layout.html' %}
    {% block content %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2 class="h4">{% if title %}{{title}}{% else %}No Title{% endif %}</h2>
        </div>
        <div class="content-section mb-4">
            <div class="media">
                {% if current_user.avatar %}
                    <img class="rounded-circle account-img" width="128" height="128" src="{{ url_for('static', filename='profile_imgs/' + current_user.avatar) }}"/>
                {% else %}
                    <img class="rounded-circle account-img" width="128" height="128" src="{{ url_for('static', filename='imgs/default_avatar.png') }}"/>
                {% endif %}
                <div class="media-body ml-3 mt-3">
                    <h2 class="account-heading">{{ current_user.first_name + ' ' + current_user.last_name }}</h2>
                    <p class="text-secondary"><span data-feather="mail"></span> {{ current_user.email }}</p>
                </div>
            </div>
        </div>
        <!-- start: USER UPDATE FORM -->
        <div class="content-section col-6">
            <form class="form-signin" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }} <!-- security 'csrf' token -->
                <h3 class="h4 mb-3 font-weight-normal">Update User Account Information</h3>
                <hr/>

                <div class="form-group text-left">
                    {{ form.first_name.label(class="form-control-label") }}
                    {% if form.first_name.errors %}
                    {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback text-left">
                        {% for error in form.first_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.first_name(class="form-control from-control-lg", placeholder="first name ...") }}
                    {% endif %}
                </div>

                <div class="form-group text-left">
                    {{ form.last_name.label(class="form-control-label") }}
                    {% if form.last_name.errors %}
                    {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback text-left">
                        {% for error in form.last_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.last_name(class="form-control from-control-lg", placeholder="last name ...") }}
                    {% endif %}
                </div>

                <div class="form-group text-left">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control from-control-lg", placeholder="Your Email Address ...") }}
                    {% endif %}
                </div>
                <div class="form-group text-left">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                    <span class="text-danger">{{ error }}</span><br/>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-lg btn-block btn-outline-info") }}
                </div>
            </form>
        </div>
    {% endblock %}