{% extends "install/layout.html" %}
    {% block content %}
    <div class="alert alert-primary" role="alert">
        <i class="fa fa-cogs mr-2"></i> {{ title }}
    </div>

    <div class="col-9">
        <ul>
            <li>Default Currency: <strong>{{ data['def_currency'] }}</strong></li>
            <li>Timezone Selected: <strong>{{ data['def_tz'] }}</strong></li>
        </ul>
    </div>

    <hr>

    <div class="col-9">
        <form method="POST">
            {{ form.hidden_tag() }} <!-- security 'csrf' token -->

            <div class="form-check">
                {{ form.import_sample_data(class="form-check-input") }}
                {{ form.import_sample_data.label(class="form-check-label ml-2") }}
            </div>

            <div class="form-group">
                <a class="btn btn-outline-info mt-3 mr-2"
                        href="{{ url_for('install.ex_settings') }}"
                        role="button"><i class="fa fa-arrow-left ml-2 mr-2"> Back</i>
                </a>
                {{ form.submit(class="btn btn-outline-primary mt-3") }}
            </div>
        </form>
    </div>

    {% endblock %}