{% extends "install/layout.html" %}
    {% block content %}
    <div class="container shadow-sm p-3 mb-5 bg-white rounded" style="border-top:1px solid #efefef;">
        <div class="row mt-4 text-left">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link {{ 'active' if step == 'sys_info' }}" id="v-pills-home-tab" href="{{ url_for('install.installation', step='sys_info') }}" role="tab" aria-controls="v-pills-home" aria-selected="true">System Details</a>
                  <a class="nav-link {{ 'active' if step == 'create_sys_user' }}" id="v-pills-profile-tab" href="{{ url_for('install.installation', step='create_sys_user') }}" role="tab" aria-controls="v-pills-profile" aria-selected="false">Create System User</a>
                    <a class="nav-link {{ 'active' if step == 'company_info' }}" href="{{ url_for('install.installation', step='company_info') }}" role="tab" aria-controls="v-pills-company" aria-selected="false">Company Information</a>
                  <a class="nav-link" id="v-pills-messages-tab" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Currency & TimeZone</a>
                  <a class="nav-link" id="v-pills-settings-tab" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Finish Installation</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    {% if step == 'sys_info' %}
                      <div class="tab-pane show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                          {% include "install/system.html" %}
                      </div>
                    {% elif step == 'create_sys_user' %}
                        <div class="tab-pane show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            {% include "install/setup_root_user.html" %}
                        </div>
                    {% elif step == 'company_info' %}
                        <div class="tab-pane show active" id="v-pills-company" role="tabpanel" aria-labelledby="v-pills-company-tab">
                            {% include "install/setup_company.html" %}
                        </div>
                    {% endif %}

                  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>

                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}